DEEPSEEK_API_KEY=your_deepseek_api_key

MOONSHOT_API_KEY=your_moonshot_api_key

SILICONFLOW_API_KEY=your_siliconflow_api_key

QWEN_API_KEY=your_qwen_api_key

OPEN_ROUTER_API_KEY=your_open_router_api_key
